body {
    background-color: lightblue;
  
}

main {
    display: flex;
    flex-direction: column;
    margin: 50px;
    padding: 50px;
}
button {
    border-radius: 40px;
    margin: 50px;
    background-color: green;
}
button:hover{
background-color: yellow;
}

canvas {
    width: 400px;
    height:500px;
    background-color: green;
}